*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Lato', sans-serif; */
}

*{
  background-color:#1f242d;
  color:#fff;

}
.navbar{
  padding: 1% 10%;
  position: fixed;
  top: 0;
  left:0;
  z-index: 10;
  width: 100%;
}

.navbar .heading{
  font-size: 40px;
  color: #fb641b;
  font-weight: 700;
  cursor:default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/**Animations slideRight */
@keyframes slideRight{
  0%{
    transform : translateX(-100px);
    opacity: 0;
  }
  100%{
    transform : translateX(0);
    opacity: 1;
  }
}

.innerNavDiv div{
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  text-transform: uppercase;
  position: relative;
  padding: 0 10px;
  /* animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*1); */
}
.innerNavDiv div:hover{
  color:#fb641b;
  transition: 500ms linear; 
  transform: scale(1.1);
  /* font-size:19px ; */
}


.innerNavDiv div a:active, .innerNavDiv div a:focus{
  color:#fb641b;
}


.innerNavDiv div:first-child{
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*1);
}
.innerNavDiv div:nth-child(2){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*2);
}
.innerNavDiv div:nth-child(3){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*3);
}
.innerNavDiv div:nth-child(4){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*4);
}
.innerNavDiv div:nth-child(5){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*5);
}
/* ANimations for slideTop */

@keyframes slideTop{
  0%{
    transform : translateY(100px);
    opacity: 0;
  }
  100%{
    transform : translateY(0);
    opacity: 1;
  }
}

.home{
  position: relative;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  padding: 70px 10% 0;
  /* flex-direction: column; */
}
.home-content{
  max-width: 600px;
}
.home-content h3{
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  /* margin-bottom: 30px; */
  animation: slideBottom 1s ease forwards ;
  animation-delay:0.7s
}

@keyframes slideBottom{
  0%{
    transform : translateY(-100px);
    opacity: 0;
  }
  100%{
    transform : translateY(0);
    opacity: 1;
  }
}
.home-content h3:nth-last-of-type(2){
  animation: slideTop 1s ease forwards;
  animation-delay:0.7s;
}
.home-content h3 span{
  color:#fb641b;
  font-size: 35px;
  margin-left: 10px;
}

.home-content h1{
  font-size: 48px;
  font-weight: 700;
  /* margin: -3px 0; */
  margin-bottom: 5px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay:1s;
}
.home-content p{
  margin-top: 5px;
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s
}

/* animation slideLeft */
@keyframes slideLeft{
  0%{
    transform : translateX(100px);
    opacity: 0;
  }
  100%{
    transform : translateX(0);
    opacity: 1;
  }
}

.social-media button{
  display: inline-flex;
  justify-content: center;
  align-items:center;
  width:40px;
  font-size: 20px;
  border-radius: 50%;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
 
}
.social-media button:first-child{
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 5);
}

.social-media button:nth-child(2){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 6);
}


.social-media button:nth-child(3){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 7);
}


.social-media button:nth-child(4){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 8);
}

.social-media button:hover{
  background-color:#fb641b;
  color:#fff;
  box-shadow: 0 0 20px #fb641b;
}

.downloadBtn {
  letter-spacing: 1px;
  margin-left: 10px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:2s;
  background-color:#fb641b;
}
.icon{
  /* color:"orange"; */
  background-color:#fb641b;
}
/* Image section */

.home-image{
  width : 380px;
  height: 420px;
  margin-right: 100px;
  border-radius: 10%;
  background-color:#fb641b;
  position: relative;
  overflow: hidden;
  animation: changeBg 2s linear infinite;

}
.home-image img{
  width: 85%;
  height: 85%;
  margin: auto;
  border-radius:10%;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}

/* Animation ChangeBg */
@keyframes changeBg{
  0%{
      /* background-color:#e91d63; */
      /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
      background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  }
  25%{
    /* background-color:#e13300; */
    /* background-image: linear-gradient(to bottom, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to bottom, #f9d423 0%, #ff4e50 100%);
  }
  50%{
    /* background-color:#e13300; */
    /* background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to left, #f9d423 0%, #ff4e50 100%);
  }
  75%{
    /* background-color:#e13300; */
    /* background-image: linear-gradient(to top, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to top, #f9d423 0%, #ff4e50 100%);
  }
  100%{
    /* background-color:#c51e68; */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  }
}

/* Animation zoomIn */
@keyframes zoomIn{
  0%{
     transform: scale(0);
     opacity: 0;
  }
  100%{
    transform: scale(1);
     opacity: 1;
  }
}



/* ****************************ABOUT ME PAGE******************** */
.aboutMe{
  position: relative;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
  width: 100%;
  padding: 80px 10% 0;
}
.aboutMe h1{
  text-align: center;
  font-size: 40px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.aboutMe h1 span{
  color:#fb641b;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.about-section{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}
.about-img{
  max-width: 600px;
  width: 600px;
  height: 400px;
  padding: 20px ;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}
.about-img img{
  width: 100%;
  height: 100%;
}

.about-info{
  max-width: 600px;
  width: 550px;
  height: 350px;
  padding: 20px ;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}

about-info ul li svg{
  background-color: #fb641b;
  border-radius: 50%;
  color: #fb641b;
}

/* **************************** SKILLS PAGE******************** */
.skills-container{
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 80px 10% 0;
}

.skills-container h1{
  text-align: center;
  font-size: 40px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.skills-container h1 span{
  color:#fb641b;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}

.skills-div{
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  text-align: center;
}
.skills-div div{
  background-color:#fff;
   /* background-image: linear-gradient(to right, #f68465 0%, #f9d423 100%);
   background-image: linear-gradient(to right, #efd75b 0%, #f67b58 100%); */
   background: linear-gradient(to bottom, rgba(232, 235, 20, 0.723), rgba(244, 42, 27, 0.745)); 
  color:#fff;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
  height: 130px;
  padding: 20px;
  border-radius:30px;
  /* box-shadow: 0 0 20px #fb641b; */
  margin: 30px 30px 50px 0;
  transition: all ease 0.4s; 
  opacity: 0;
  position: relative;
  overflow: hidden;
  transition-delay: 0s, 500ms;
  /* animation: changeBg 2s linear infinite; */
}



.skills-div div:first-child{
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.skills-div div:nth-child(2){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 2);
}
.skills-div div:nth-child(3){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}
.skills-div div:nth-child(4){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.skills-div div:nth-child(5){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 5);
}
.skills-div div:nth-child(6){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 6);
}
.skills-div div:nth-child(7){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 7);
}
.skills-div div:nth-child(8){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 8);
}
.skills-div div:nth-child(9){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 9);
}
.skills-div div:nth-child(10){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 10);
}
.skills-div div:nth-child(11){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 11);
}
.skills-div div:nth-child(12){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 12);
}
.skills-div div:nth-child(13){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 13);
}
.skills-div div:nth-child(14){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 14);
}
.skills-div div:nth-child(15){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 15);
}
.skills-div div:nth-child(16){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 16);
}
.skills-div div:nth-child(17){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 17);
}
.skills-div div:nth-child(18){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 18);
}
.skills-div div:hover{
  /* box-shadow: 0 0 20px #fb641b; */
  transition: 500ms linear; 
  transform: scale(1.1);
    
}

.skills-div div img{
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right, #efd75b 0%, #f67b58 100%);
  background-image: linear-gradient(to right, #f68465 0%, #f9d423 100%); */
   background-color:transparent;
}
.skills-div div p{
  font-size:small;
  font-weight: 500;
  /* background-image: linear-gradient(to right, #f68465 0%, #f9d423 100%);
  background-image: linear-gradient(to right, #efd75b 0%, #f67b58 100%); */
  background-color:transparent;
}



/* **************************** Projects PAGE******************** */
.projects-container{
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 80px 10% 0;
  text-align: center;
}

.projects-container h1{
  text-align: center;
  font-size: 40px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.projects-container h1 span{
  color:#fb641b;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.grid-container{
  margin: 10px 40px 30px 0;
}
.grid-container>div{
  width: 100%;
  height: auto;
  margin: 10px 20px 50px 0;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.grid-container>div{
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
/* .grid-container>div:nth-child(2){
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 2);
}

.grid-container>div:nth-child(3){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}
.grid-container>div:nth-child(4){
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.grid-container>div:nth-child(5){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 5);
} */
.grid-container>div>div:first-child{
  width: 100%;
  height: 60%;
  background-color:#fff;
  position: relative;
  align-items:center;
  padding: 2rem 1rem;
  /* box-shadow: 0 7px 10px rgba(0,0,0,0.5); */
  transition: 0.5s ease-in-out;
}
.grid-container>div>div:first-child:hover{
  transform: translateY(20px);
}
.grid-container>div>div:first-child:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(173, 176, 0, 0.5), rgba(239, 50, 8, 0.737)); 
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.grid-container>div>div:first-child:hover:before{
  opacity: 1;
}

.grid-container>div>div:nth-child(1) button{
  width: 50px;
  margin: 50px;
}

.grid-container>div>div:nth-child(1) button svg{
  background:transparent;
}

.grid-container>div>div:nth-child(1) button:hover{
  background-color:#fff;
  color:#fb641b;
  box-shadow: 0 0 20px #fff;
}



.grid-container>div>div:first-child img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.grid-container>div>div:first-child div{
  position: relative;
  background: transparent;
  z-index: 3;
  color:#fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.grid-container>div>div:first-child:hover div{
  background: transparent;
  opacity: 1;
  transform: translateY(0px);
}
.grid-container>div>div:first-child div span, .grid-container>div>div:first-child b{
  background: transparent;
}
.grid-container>div>div:nth-child(1)>div h2 {
  background: transparent;
  margin-top:2% ;
}
.grid-container>div>div:nth-child(2) h2{
  margin-bottom: 20px;
}
.grid-container>div>div:nth-child(2) h2 span,.grid-container>div>div:nth-child(2) b{
  /* background: transparent; */
  color: #fb641b;
}
.grid-container>div>div:first-child div p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  background: transparent;
}

.grid-container>div>div:nth-child(2){
    margin-top: 10px;
    padding: 20px;
}


