
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Raleway', sans-serif; */
}

:root{
  --mainColor: #ef6b25c0;
  --mainColorLight: #5767aa;
  --secondaryColor: #fb641b;
  --textColor: #eee;
}

*{
  background-color:#1f242d;
  color:#fff;

}
.navbar{
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  border-bottom-style:'';
  /* background-color:var( --mainColor); */
  z-index: 2;
  color: var(--textColor);

 
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 10;
  
}
.shadow-header{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
}
.innerNavDiv, .innerNavDiv div{
  background-color:transparent;
}
.innerNavDiv a{
  font-weight: 500;
  font-size: 18px;
  margin: 0 2rem;
  padding: 20px 0;
  background-color:transparent;
  color:var(--secondaryColor);
  text-decoration: none;
}
.innerNavDiv div{
 height: 40px;
 display: flex;
 justify-content: center;
 align-items:center
}
 .innerNavDiv>div:hover{
  border-radius:20px;
  box-shadow:0 0 24px #fb641b;
  color: var(--textColor);
  transition: 800ms linear; 
  transform: scale(1.1);
}
.innerNavDiv>div>a:hover{
  color: var(--textColor);
  transition: 800ms linear; 
  transform: scale(1.1);

}
.navbar .nav-btn svg, .navbar h1, .navbar span {
  background:transparent;
}
.navbar .nav-btn{
  padding: 5px;
  cursor: pointer;
  background:transparent;
  border: none;
  color:var(--textColor);
  visibility: hidden;
  opacity: 0;
}



@media only screen and (max-width:1024px) {
  .navbar .nav-btn{
    visibility: visible;
    opacity: 1;
    font-size: 1.8rem;
  }

  .navbar .innerNavDiv{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color:var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 1;
  }

  .navbar .rsponsive_navbar{
    transform: none;
  }

  .innerNavDiv .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .innerNavDiv a{
    font-size: 1.5rem;
  }
}

.navbar .heading span{
  /* font-size: 40px; */
  color: #fb641b;
  font-weight: 700;
  cursor:default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/**Animations slideRight */
@keyframes slideRight{
  0%{
    transform : translateX(-100px);
    opacity: 0;
  }
  100%{
    transform : translateX(0);
    opacity: 1;
  }
}
 
.innerNavDiv div{
  /* display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin-left: 35px; */
  transition: 0.3s;
  opacity: 0;
  text-transform: uppercase;
  position: relative;
  padding: 0 10px; 
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*1); 
}


.innerNavDiv div a:active, .innerNavDiv div  a:focus{
  color:#fb641b;
} 


.innerNavDiv div:first-child{
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*1);
}
.innerNavDiv div:nth-child(2){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*2);
}
.innerNavDiv div:nth-child(3){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*3);
}
.innerNavDiv div:nth-child(4){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*4);
}
.innerNavDiv div:nth-child(5){
  animation:slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s*5);
}
/* ANimations for slideTop */

@keyframes slideTop{
  0%{
    transform : translateY(100px);
    opacity: 0;
  }
  100%{
    transform : translateY(0);
    opacity: 1;
  }
}

.home{
  position: relative;
  /* padding-top: 300rem; */
  border:5px solid red;
  /* justify-content: space-between; */
  align-items:center;
  /* flex-wrap: wrap; */
  /* height: 100vh; */
  margin-top: 80px;
  width: 100%;
  padding: 60px 10% ;
  /* flex-direction: column; */
}
.home-content{
  max-width: 650px;
  padding: 20px;
}
.home-content h3{
  font-size: 28px;
  font-weight: 700;
  opacity: 0;
  /* margin-bottom: 30px; */
  animation: slideBottom 1s ease forwards ;
  animation-delay:0.7s
}

@keyframes slideBottom{
  0%{
    transform : translateY(-100px);
    opacity: 0;
  }
  100%{
    transform : translateY(0);
    opacity: 1;
  }
}

.home-content h3:nth-last-of-type(2){
  animation: slideTop 1s ease forwards;
  animation-delay:0.7s;
}
.home-content h3 span{
  color:#fb641b;
  font-size: 39px;
  margin-left: 10px;
}

.home-content h1{
  font-size: 45px;
  /* color:#fb641b; */
  font-weight: 700;
  margin-bottom: 5px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay:1s;
}
.home-content p{
  margin-top: 5px;
  font-size: 18px;
  line-height: 26px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s
}

/* animation slideLeft */
@keyframes slideLeft{
  0%{
    transform : translateX(100px);
    opacity: 0;
  }
  100%{
    transform : translateX(0);
    opacity: 1;
  }
}

.social-media button{
  display: inline-flex;
  justify-content: center;
  align-items:center;
  width:40px;
  font-size: 20px;
  border-radius: 50%;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
 
}
.social-media button:first-child{
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 5);
}

.social-media button:nth-child(2){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 6);
}


.social-media button:nth-child(3){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 7);
}


.social-media button:nth-child(4){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 8);
}

.social-media button:hover{
  background-color:#fb641b;
  color:#fff;
  box-shadow: 0 0 20px #fb641b;
}

.downloadBtn {
  letter-spacing: 1px;
  margin: 10px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:2s;
  background-color:#fb641b;
}
.icon{
  background-color:#fb641b;
}


/* Image section */

.home-image{
  justify-content: center;
  align-items:center;
  margin: 10%;
  max-width: 600px;
  /* width : 36%;
  height: 70%; */
  /* border-radius: 50%; */
  background-color:#fb641b;
  position: relative;
  overflow: hidden;
  animation: changeBg 2s linear infinite;

}
.home-image img{
  width: 90%;
  height: 90%;
  /* margin: auto; */
  border-radius:50%;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}

/* Animation ChangeBg */
@keyframes changeBg{
  0%{
      /* background-color:#e91d63; */
      /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
      background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  }
  25%{
    /* background-color:#e13300; */
    /* background-image: linear-gradient(to bottom, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to bottom, #f9d423 0%, #ff4e50 100%);
  }
  50%{
    /* background-color:#e13300; */
    /* background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to left, #f9d423 0%, #ff4e50 100%);
  }
  75%{
    /* background-color:#e13300; */
    /* background-image: linear-gradient(to top, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to top, #f9d423 0%, #ff4e50 100%);
  }
  100%{
    /* background-color:#c51e68; */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  }
}

/* Animation zoomIn */
@keyframes zoomIn{
  0%{
     transform: scale(0);
     opacity: 0;
  }
  100%{
    transform: scale(1);
     opacity: 1;
  }
}



/* ****************************ABOUT ME PAGE******************** */
.aboutMe{
  position: relative;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
  width: 100%;
  margin-top: 80px;
  padding: 40px 10% 0;
}
.aboutMe h1{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.aboutMe h1 span{
  color:#fb641b;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.aboutMe p{
  font-size: larger;
  line-height: 28px;
  background-color:transparent
}
.aboutMe p span{
  color:#fb641b;
  font-style: italic;
  background-color:transparent;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.about-section{
  justify-content: space-between;
  align-items: center;
  border:2px solid white;
  /* flex-wrap: wrap; */
  /* margin-top: 20px; */
}
.about-img{
  max-width: 600px;
  width: 400px;
  height: 380px;
  padding:  30px;
  margin-right: 50px;
  background-color:transparent;
  border-radius:15px;
  box-shadow: 0 0 26px #fb641b;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}
.about-img img{
  width: 100%;
  height: 100%;
  border-radius:15px;
}

.about-info{
  max-width: 700px;
  width: 700px;
  /* height: 400px; */
  margin-bottom: 50px;
  padding: 30px ;
  text-align: justify;
  border-radius:20px;
  background-color:transparent;
  box-shadow: 0 0 26px #fb641b;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}

about-info ul li svg{
  background-color: #fb641b;
  border-radius: 50%;
  color: #fb641b;
}

/* **************************** SKILLS PAGE******************** */
.skills-container{
  position: relative;
  height: 100vh;
  width: 100%;
  margin-top: 80px;
  padding: 40px 10% 0;
}

.skills-container h1{
  text-align: center;
  font-size: 40px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.skills-container h1 span{
  color:#fb641b;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}

.skills-div{
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  margin-top: 20px;
}
.skills-div div{
  background-color:#fff;
   /* background-image: linear-gradient(to right, #f68465 0%, #f9d423 100%);
   background-image: linear-gradient(to right, #efd75b 0%, #f67b58 100%); */
   background: linear-gradient(to bottom, rgba(232, 235, 20, 0.723), rgba(244, 42, 27, 0.745)); 
  color:#fff;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
  height: 130px;
  padding: 20px;
  /* margin: 40px; */
  border-radius:30px;
  /* box-shadow: 0 0 20px #fb641b; */
  margin: 30px 25px 30px 25px;
  transition: all ease 0.4s; 
  opacity: 0;
  position: relative;
  overflow: hidden;
  transition-delay: 0s, 500ms;
  /* animation: changeBg 2s linear infinite; */
}



.skills-div div:first-child{
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.skills-div div:nth-child(2){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 2);
}
.skills-div div:nth-child(3){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}
.skills-div div:nth-child(4){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.skills-div div:nth-child(5){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 5);
}
.skills-div div:nth-child(6){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 6);
}
.skills-div div:nth-child(7){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 7);
}
.skills-div div:nth-child(8){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 8);
}
.skills-div div:nth-child(9){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 9);
}
.skills-div div:nth-child(10){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 10);
}
.skills-div div:nth-child(11){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 11);
}
.skills-div div:nth-child(12){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 12);
}
.skills-div div:nth-child(13){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 13);
}
.skills-div div:nth-child(14){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 14);
}
.skills-div div:nth-child(15){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 15);
}
.skills-div div:nth-child(16){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 16);
}
.skills-div div:nth-child(17){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 17);
}
.skills-div div:nth-child(18){
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 18);
}
.skills-div div:hover{
  /* box-shadow: 0 0 20px #fb641b; */
  transition: 500ms linear; 
  transform: scale(1.1);
    
}

.skills-div div img{
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to right, #efd75b 0%, #f67b58 100%);
  background-image: linear-gradient(to right, #f68465 0%, #f9d423 100%); */
   background-color:transparent;
}
.skills-div div p{
  font-size:small;
  font-weight: 500;
  /* background-image: linear-gradient(to right, #f68465 0%, #f9d423 100%);
  background-image: linear-gradient(to right, #efd75b 0%, #f67b58 100%); */
  background-color:transparent;
}



/* **************************** Projects PAGE******************** */
.projects-container{
  position: relative;
  /* height: 100vh; */
  margin-top: 80px;
  width: 100%;
  padding: 10px 10% ;
  text-align: center;
}

.projects-container h1{
  text-align: center;
  font-size: 40px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 1);
}
.projects-container h1 span{
  color:#fb641b;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.grid-container{
  margin: 40px auto 30px 0;
  height:auto;
}
.grid-container>div{
  width: 100%;
  /* height: 650px; */
  margin: 10px 20px 50px 0;
  /* opacity: 1; */
  /* border:2px solid white; */
  box-shadow: 0 0 25px #fb641b;
}
.grid-container>div:nth-child(odd){
  opacity: 1;
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 2);
}
 .grid-container>div:nth-child(even){
  opacity: 1;
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 2);
}
/* .grid-container>div:nth-child(3){
  opacity: 1;
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 3);
} */
/*
.grid-container>div:nth-child(3){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 3);
}
.grid-container>div:nth-child(4){
  animation: slideRight 1s ease forwards;
  animation-delay:calc(0.2s * 4);
}
.grid-container>div:nth-child(5){
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * 5);
} */
.grid-container>div>div:first-child{
  width: 100%;
 
  margin-top: 20px;
  background-color:#fff;
  position: relative;
  align-items:center;
  padding: 2rem 1rem;
  /* box-shadow: 0 7px 10px rgba(0,0,0,0.5); */
  transition: 0.5s ease-in-out;
}
.grid-container>div>div:first-child:hover{
  transform: translateY(20px);
}
.grid-container>div>div:first-child:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(173, 176, 0, 0.5), rgba(239, 50, 8, 0.737)); 
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.grid-container>div>div:first-child:hover:before{
  opacity: 1;
}

.grid-container>div>div:nth-child(1) button{
  width: 50px;
  margin: 20px;
}

.grid-container>div>div:nth-child(1) button svg{
  background:transparent;
}

.grid-container>div>div:nth-child(1) button:hover{
  background-color:#fff;
  color:#fb641b;
  box-shadow: 0 0 20px #fff;
}



.grid-container>div>div:first-child img{
  width: 100%;
  height: 100%;
  object-fit:unset;
  position: absolute;
  top: 0;
  left: 0;
}
.grid-container>div>div:first-child div{
  position: relative;
  background: transparent;
  z-index: 3;
  color:#fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.grid-container>div>div:first-child:hover div{
  background: transparent;
  opacity: 1;
  transform: translateY(0px);
}
.grid-container>div>div:first-child div span, .grid-container>div>div:first-child b{
  background: transparent;
}
.grid-container>div>div:nth-child(1) div h4 {
  /* background: transparent;
  margin-top:10px ; */
  font-size: 25px;
  background: transparent;
}
.grid-container>div>div:nth-child(2) h4{
  font-size: 25px;
  margin-bottom: 20px;
}
.grid-container>div>div:nth-child(2) h4 span,.grid-container>div>div:nth-child(2) b{
  /* background: transparent; */
  color: #fb641b;
}
.grid-container>div>div:first-child>div p{
  letter-spacing: 1px;
  font-size: 15px;
  /* margin-top: 8px; */
  /* margin-bottom: 20px; */
  background: transparent;
}

.grid-container>div>div:nth-child(2){
    margin-top: 10px;
    padding: 20px;
}



@media only screen and (max-width:1024px) and  (min-width:526px) {
  .home{
    flex-direction: column-reverse;
  }
  .projects-container h1{
    font-size: 30px;
  }
  .grid-container>div>div:first-child{
    width: 65%;
    margin:20px auto;
  }
  .about-section{
    flex-direction: column;
  }
  .grid-container{
    /* grid-template-columns: repeat(1, 1fr); */
    
    display: flex;
    flex-direction: column;
  }
  .grid-container div{
    margin: auto;
  }
  /* .home div{
    width: 100%;
  } */
  .home-content{
    margin-top: 50px;
    width: 100%;
  }
  .about-img{
    width: 300px;
    height: 300px;
  }
  .about-info{
    margin-top: 50px;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
  }
  .home-content h3{
    font-size: 25px;
  }
  .home-content h1{
    font-size: 35px;
  }
  .aboutMe .heading{
    font-size: 30px;
  }
  .home-content .job-role{
    font-size: 18px;
    font-weight: 500;
  }
  .home-content h3 span{
    font-size: 25px;
    font-weight: 600;
  }
  .home-content p{
    font-size: 18px;
  }
  .home-image img{
    border-radius:5%;
  }
  .skills-container{
    /* justify-content: center; */
  }
  .skills-div div{
    /* margin: auto; */
    justify-content: center;
  }
  .skills-container h1{
    font-size: 35px;
  }
}

@media only screen and (max-width:524px)  {
  .home{
    flex-direction: column-reverse;
  }
  .about-section{
    flex-direction: column;
  }
  .projects-container h1{
    font-size: 18px;
  }
  .grid-container{
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .grid-container>div>div:first-child{
    width: 65%;
    height: 150px;
    margin:20px auto;
  }
  .grid-container>div>div:first-child>div p{
     display: none;
     
  }
  
  .grid-container>div>div:nth-child(2) h4{
    margin-bottom: 5px;
  }
  .grid-container>div>div:nth-child(2) b{
    font-size: 20px;
    font-weight: 200;
  }
.grid-container>div div:nth-child(1) h4{
  font-size: 8px;
  font-weight: 400;
}

  .grid-container>div>div:nth-child(1) button{
    width:20px;
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .aboutMe .heading{
    font-size: 22px;
  }
  .about-img{
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .about-info{
    margin-top: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 200;
  }
  .home-content{
    margin-top: 50px;
    width: 100%;
  }
  .home-content h3{
    font-size: 18px;
  }
  .home-content h1{
    font-size: 30px;
  }
  .home-content .job-role{
    font-size: 12px;
    font-weight: 300;
  }
  .home-content h3 span{
    font-size: 20px;
    font-weight: 600;
  }
  .home-content p{
    font-size: 16px;
  }
  .home-image,.home-image img{
    border-radius:50%;
  }
  .skills-div div{
    /* margin: auto; */
    justify-content: space-evenly;
  }
  .skills-container{
    /* justify-content: center; */
  }
  .skills-container h1{
    font-size: 20px;
  }
}
